/*
    Created on : July, 2017
    Author     : Brendon Hutcins
    Flinders University, brendon.hutchins@flinders.edu.au
*/


html{
  background-color: lightgrey;
}

body {
    margin: 0;
    padding:0;
    font-size: 12px;
}

nav.header{
    background-color: #1E90FF;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    padding: 0.5em 0.5em;
}

form.searchbox{
position: fixed;
left: 45%;
}

div.content{
    width: 90em;
    font-size: 10px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter','Lucida Typewriter', monospace;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    left: 80px;
    word-wrap: break-word;
}

nav.footer{
    background-color: #1E90FF;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}